.splitter .pane:last-child {
  overflow: visible
}

.splitter .pane:only-child {
  width: 100% !important;
  min-width: 0 !important;
  max-width: none !important;
}

.pane ~ .pane .splitter-wrapper {
  padding: 1rem;
  border: 10px solid #f2f2f2;
}