.stat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat-box {
  position: relative;
  flex-basis: 100%;
}

.stat-box3 {
  flex-basis: 100%;
}

.stat-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.stat-title {
  font-weight: 700;
}

.stat-button-container {
  display: flex;
  gap: 0.5rem;
}

.stat-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}

.stat-count {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: #1976d2;
}

.stat-name {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

@media (min-width: 1200px) {
  .stat-box {
    flex-basis: calc(50% - 2rem);
  }

  .stat-list {
    padding: 1rem;
  }

  .stat-box3 {
    flex-basis: 100%;
  }
}